body {
    background: Linen;
    margin-top: 50px;
    margin-left: 100px;
    }
  
  p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: DarkSlateGray;
    }
  
  h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: FireBrick;
    }

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
  content: " \25B4\25BE" 
}

select {
  overflow:auto;
}