<doctype html="">
    <title>SalesCrawler</title>
<h2>SalesCrawler</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% from "_formhelpers.html" import render_field %}

<form>
  <input type="submit" name="run" value="Run active crawlers">
  <input type="submit" name="update" value="Update the tool">
</form>
<h3>Matches</h3>
{{ table }}
</doctype>