<!doctype html>
<html>
<head>
  <title>SalesCrawler</title>
  <script type="text/javascript"
         src="{{ url_for('static', filename='sorttable.js') }}"></script>
  <link rel="stylesheet" href='/static/main.css' />
</head>
<body>
<div class="page">
  <h1>SalesCrawler</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <form action="/">
    <input type="submit" name="refresh" value="See matches">
    {{render_checkbox('showhidden', showhidden)}} Show hidden matches
    {{render_checkbox('onlysaved', onlysaved)}} Show only saved matches
    <input type="submit" name="connectvpn" value="Connect to VPN">
    <input type="submit" name="run" value="Run active crawlers">
    <input type="submit" name="clear" value="Clear all matches">
    
  </form>
  
  {% block body %}{% endblock %}
</div>
</body>
</html>

