<!doctype html>
<html>
<head>
  <title>SalesCrawler</title>
  <script type="text/javascript"
         src="{{ url_for('static', filename='sorttable.js') }}"></script>
  <link rel="stylesheet" href='/static/main.css' />
</head>
<body>
<div class="page">
  <h1>SalesCrawler</h1>
  <p><a href="{{ url_for('.new_crawler') }}"> Add New Crawler </a></p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <form>
    <input type="submit" name="refresh" value="Refresh matches">
    <input type="submit" name="showall" value="Show all matches">
    <input type="submit" name="run" value="Run active crawlers">
    <input type="submit" name="clear" value="Clear all matches">
    <input type="submit" name="update" value="Update the tool">
  </form>
  
  {% block matches %}{% endblock %}
</div>
</body>
</html>

