<!doctype html>
<html>
<head>
  <title>SalesCrawler</title>
</head>
<body>
<div class="page">
  <h1>SalesCrawler</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  <form>
    <input type="submit" name="run" value="Run active crawlers">
    <input type="submit" name="update" value="Update the tool">
  </form>
  <h2>Matches</h2>

  {% block body %}{% endblock %}
</div>
</body>
</html>

