{% from "_formhelpers.html" import render_input_bool %}
{% from "_formhelpers.html" import render_input_text %}

{% extends "layout.html" %}
{% block body %}

  <h2>Crawlers</h2>
  <form action="/crawler-update" method="post">
    <table class="sortable">
      <tr>
        <th>Active</th>
        <th>Name</th>
        <th>Run cadence</th>
        <th>Last run</th>
      </tr>

        {% for crawler in crawlers %}
          <tr>
            <td>{{render_input_bool(crawler.crawlerid, 'active', crawler.active)}}</td>
            <td>{{render_input_text(crawler.crawlerid, 'name', crawler.name)}}</td>
            <td>{{crawler.runcadence}}</td>
            <td>{{crawler.lastrun}}</td>
            <input type="text" name="{{ crawler.crawlerid }}_{{ dummy }}" value="dummy" hidden="true"/>
          </tr>
        {% endfor %}
    </table>
    <button type="submit">Save</button>
    
    
    <a href="{{ url_for('.new_crawler') }}"> Add New Crawler </a>
  </form>
  <form action="{{ url_for('.new_crawler') }}" method="post"></form>


  <h2>Matches</h2>
  <form action="/match-update" method="post">
    <table class="sortable">
      <tr>
        <th>Hide</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Location</th>
        <th>Seller</th>
      </tr>

        {% for match in matches %}
          <tr>
            <td>{{render_input_bool(match.matchid, 'hide', match.hide)}}</td>
            <td><img src="/static{{match.image}}" loading="lazy" alt="..." width="150"></td>
            <td><a href="{{match.url}}">{{match.title}}</a></td>
            <td>{{match.price}}</td>
            <td>{{match.location}}</td>
            <td>{{match.seller}}</td>
            <input type="text" name="{{ match.matchid }}_{{ dummy }}" value="dummy" hidden="true"/>
          </tr>
        {% endfor %}
    </table>
    <button type="submit">Save</button>
  </form>

{% endblock %}