{% from "_formhelpers.html" import render_input_bool %}
{% from "_formhelpers.html" import render_input_text %}
{% from "_formhelpers.html" import render_input_number %}

{% extends "layout.html" %}
{% block body %}
  <script language="JavaScript">
  function toggle(source, pattern) {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].name.includes(pattern))
             checkboxes[i].checked = source.checked;
      }
  }
  </script>

  <h2>Crawlers</h2>
  <form action="{{ url_for('.new_crawler') }}" method="post">
    <button type="submit" name="from_main">Add new crawler</button>
  </form>
  <form action="/crawler-update" method="post">
    <table class="sortable">
      <tr>
        <th><input type="checkbox" onclick="toggle(this, '_selected');" /><br/>Select</th>
        <th>Name</th>
        <th>Active</th>
        <th>Run cadence</th>
        <th>Max price</th>
        <th>Last run</th>
        <th>Spiderbots</th>
      </tr>

        {% for crawler in crawlers %}
          <tr>
            <td>{{render_input_bool(crawler.crawlerid, 'selected', False)}}</td>
            <td>{{render_input_text(crawler.crawlerid, 'name', crawler.name)}}</td>
            <td>{{render_input_bool(crawler.crawlerid, 'active', crawler.active)}}</td>
            <td>{{render_input_number(crawler.crawlerid, 'runcadence', crawler.runcadence)}}</td>
            <td>{{render_input_number(crawler.crawlerid, 'maxprice', crawler.maxprice)}}</td>
            <td>{{crawler.lastrun}}</td>
            <td><a href="{{ url_for('spiderbots', crawlerid=crawler.crawlerid) }}">View</td>
            <input type="text" name="{{ crawler.crawlerid }}_{{ dummy }}" value="dummy" hidden="true"/>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" name="save_button" value="Save changes"/>
    <input type="submit" name="delete_button" value="Delete selected"/>
    <input type="submit" name="filter_button" value="Filter to selected"/>

  </form>
  
  <h2>Matches</h2>
  <form action="/match-update" method="post">
    <table class="sortable">
      <tr>
        <th><input type="checkbox" onclick="toggle(this, '_hide');" /><br/>Hide</th>
        <th>Crawler</th>
        <th>Spider</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Location</th>
        <th>Seller</th>
      </tr>

        {% for match in matches %}
          <tr>
            <td>{{render_input_bool(match.matchid, 'hide', match.hide)}}</td>
            <td>{{match.spiderbot.crawler.name}}</td>
            <td>{{match.spiderbot.spider}}</td>
            <td><img src="/static{{match.image}}" loading="lazy" alt="..." width="150"></td>
            <td><a href="{{match.url}}">{{match.title}}</a></td>
            <td>{{ '{:,}'.format(match.price) if match.price else None }}</td>
            <td>{{match.location}}</td>
            <td>{{match.seller}}</td>
            <input type="text" name="{{ match.matchid }}_{{ dummy }}" value="dummy" hidden="true"/>
          </tr>
        {% endfor %}
    </table>
    <button type="submit">Hide selected matches</button>
  </form>

{% endblock %}