{% from "_formhelpers.html" import render_input_bool %}

{% extends "layout.html" %}
{% block body %}

  
  <form action="/" method="post">
    <table class="sortable">
      <tr>
        <th>Hide</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Location</th>
        <th>Seller</th>
      </tr>

        {% for match in matches %}
          <tr>
            <td>{{render_input_bool(match.matchid, 'hide', match.hide)}}</td>
            <td><img src="/static{{match.image}}" loading="lazy" alt="..." width="150"></td>
            <td><a href="{{match.url}}">{{match.title}}</a></td>
            <td>{{match.price}}</td>
            <td>{{match.location}}</td>
            <td>{{match.seller}}</td>
            <input type="text" name="{{ match.matchid }}_{{ dummy }}" value="dummy" hidden="true"/>
          </tr>
        {% endfor %}
    </table>
    <button type="submit">Send</button>
  </form>

{% endblock %}