{% from "_formhelpers.html" import render_input_bool %}
{% from "_formhelpers.html" import render_input_text %}
{% from "_formhelpers.html" import render_input_number %}
{% from "_formhelpers.html" import render_checkbox %}

{% extends "layout.html" %}
{% block body %}
<h2>Crawler: {{ crawler.name }} / Spiderbots</h2>
    <form action="{{ url_for('.new_spiderbots', crawlerid=crawler.crawlerid) }}" method="post">
    <button type="submit" name="from_spiderbots">Add new spiderbot(s)</button>
  </form>
  <form action="/spiderbot-update/{{ crawler.crawlerid }}" method="post">
    <table class="sortable">
      <tr>
        <th class="sorttable_nosort">Selected</th>
        <th>Spider</th>
        <th>Active</th>
        <th>Search Term</th>
        <th>Full Link</th>
        <th>Reference Link</th>
        <th>Minimum Price</th>
        <th>Maximum Price</th>
      </tr>

        {% for spiderbot in spiderbots %}
          <tr>
            <td>{{render_input_bool(spiderbot.spiderbotid, 'selected', False)}}</td>
            <td>{{ spiderbot.spider }}</td>
            <td>{{render_input_bool(spiderbot.spiderbotid, 'active', spiderbot.active)}}</td>
            <td>{{render_input_text(spiderbot.spiderbotid, 'searchterm', spiderbot.searchterm if spiderbot.searchterm else '')}}</td>
            <td>{{render_input_text(spiderbot.spiderbotid, 'fullink', spiderbot.fullink if spiderbot.fullink else '')}}</td>
            <td><a href='{{ spiderbot.fullinkref }}'>Link</a></td>
            <td>{{render_input_number(spiderbot.spiderbotid, 'minprice', spiderbot.minprice)}}</td>
            <td>{{render_input_number(spiderbot.spiderbotid, 'maxprice', spiderbot.maxprice)}}</td>

            <input type="text" name="{{ spiderbot.spiderbotid }}_{{ dummy }}" value="dummy" hidden="true"/>
          </tr>
        {% endfor %}
    </table>
    <input type="submit" name="save_button" value="Save changes"/>
    <input type="submit" name="delete_button" value="Delete selected"/>

  </form>
{% endblock %}